*, html{
  padding: 0px;
  margin: 0px;
}
body{
  background-image: url('beautiful-scenery-lake-surrounded-by-forested-mountains-purple-sky-sunset.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

p {
  font-family: sans-serif;
  font-size: 30px;
  color: #ffffff;
  padding-top: 20px;
}

.super-box{
  background-color: transparent;
  backdrop-filter: blur(7px);
  width: 400px;
  height: 450px;
  border: 1px solid white;
  margin-top: 80px;
  border-radius: 5px;
  text-align: center;
}

.center-parent {
  display: inline;
  justify-content: center;
}

.center-children {
  display: inline;
  justify-content: center;
}

.custom-input {
  margin-top: 100px;
  width: 300px !important;
  height: 30px !important;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  border-bottom: 2px solid white;

}

::placeholder {
  color: black;
}

.custom-input-2 {
  margin: 0px !important;
}

button {
  border: none;
  outline: none;
  width: 150px;
  height: 40px;
  color: white;
  background: linear-gradient(90deg, rgba(16,128,168,0.826009627483806) 0%, rgba(24,153,92,1) 100%, rgba(65,37,179,1) 100%, rgba(88,51,146,1) 100%, rgba(0,212,255,1) 100%, rgba(151,38,167,1) 100%);
  border-radius: 5px;
  cursor: pointer;
}



.custom-p-1 {
  color: white;
  font-size: 15px;
}

.custom-p-1 a {
  color: blue;
  font-size: 15px;
}
